
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body{
  background: #dfdfdf;
}

.center_wrapper{
  display: flex;
  max-width: 700px;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.center_wrapper .left,
.center_wrapper .right{
  width: 50%;
  height: auto;
  padding: 30px;
}

.center_wrapper .left{
  background: #494f57;
}

.center_wrapper .left h3{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
  font-size: 20px;
}

.center_wrapper .left img{
  display: block;
  width: 220px;
  margin: 25px auto 0;
}

.center_wrapper .right{
  background: #fff;
}

.center_wrapper .right .tabs ul{
  text-align: center;
}

.center_wrapper .right .tabs ul li{
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  font-size: 14px;
  color: #494f57;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.center_wrapper .right .tabs ul li.active{
  border-bottom: 2px solid #494f57;
}

.center_wrapper .right .register,
.center_wrapper .right .login{
  margin-top: 20px;
}

.center_wrapper .right .input_field{
  margin-bottom: 15px;
}

.center_wrapper .right .input_field .input{
  width: 100%;
  padding: 10px 15px;
  border: 0;
  font-size: 12px;
  background: #ecebeb;
}

.center_wrapper .right .submit_div{
  margin-top: 20px;
}

.center_wrapper .right .submit_div .submit_button{
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  background-color: #494F57;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
}