{% extends 'base.html' %}

{% block content1 %}
    <div class="col-sm-12 image-holder">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6" id="image_holder">

            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div id="bio">
                </div>

                </hr>
                <p class="card-text"><h6>Skills and Proficiency</h6></p>
                <p class="card-text"><small class="text-muted" id="master_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="proficient_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="learning_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="future_skill"></small></p></hr>
              </div>
            </div>
          </div>
        </div>
     </div>
<hr/>
{% endblock %}

{% block content2 %}
    <h2>Users with Similar Skills</h2>
     <div class="row" id="related_user">

     </div>
{% endblock %}