{% extends 'base.html' %}

{% block content1 %}
    <div class="col-sm-12 image-holder">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6" id="image_holder">

            </div>
            <div class="col-md-6">
              <div class="card-body">
                <div id="bio">
                </div>

                </hr>
                <p class="card-text"><h6>Skills and Proficiency</h6></p>
                <p class="card-text"><small class="text-muted" id="master_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="proficient_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="learning_skill"></small></p></hr>
                <p class="card-text"><small class="text-muted" id="future_skill"></small></p></hr>
              </div>
            </div>
          </div>
        </div>
     </div>
<hr/>
{% endblock %}

{% block content2 %}
     <div class="row">
         <div class="col-sm-3">
             <div class="card" style="width: 18rem;">
                  <img src="" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                  </div>
                </div>
         </div>
     </div>
{% endblock %}